.development
  .sub-main
    .row
      .entry.col
        h5
          | Designvelopers has been working in the IT field for a year and
          our competent and experienced staff has built a huge number of websites till now. This great customer satisfaction record gives us confidence and we are committed to offer high quality web design and web development services to our clients.
        p
          | When it comes to designing the website of the clients, we are very open in this process. Just like the common developers, we do not show the themes and samples to the clients to choose from, rather we arrange a meeting with our client and listen to them. We list out the requirements and priorities of the clients and on this basis we design the website. Our web design and web development process involves below given steps.
    .process.row
      .col
        .serial.one
          span 1
        div
          h2 planning
          p
            | We appoint one of our senior web developers to help you out in generating the ideas related to your business and how your website looks like. Together with your ideas and priorities, we establish a solid outline of requirements and priorities. This also includes deciding the appearance of your website and discussing about the different sections of the website.
      .col
        .serial.two
          span 2
        div
          h2 designing
          p
            | Once done with the planning process, here comes the real time to show you our work. Our professional designers show up their magic in this step and design an eye catching and perfect looking web design for your website. We don’t just create the designs which look good to the eyes; rather we focus on the demands and requirements of the clients and create the web designs accordingly.
      .col
        .serial.three
          span 3
        div
          h2 development
          p
            | Once you approve the design and structure of the website, our developers begin working on the development of your website. Your website will be hand coded and optimized to be ranked quickly in search engines.
      .col
        .serial.four
          span 4
        div
          h2 launch
          p
            | Once the website will be completed, our developers will hand over the management and control of the website to the client. This allows the clients to keep their website up to date. Once done with the process of development, we offer complete website maintenance services to our clients whenever they require.
// #Web Development Popup
