.design
  .sub-main.logo-branding.row
    .working.col
      img(src='{{backendServer}}/images/design-working.jpg', alt='design working')
      img(src='{{backendServer}}/images/logo-sketch.jpg', alt='logo sketch')
    .entry.col
      h5
        | A brand without a logo is incomplete. The logo works as an identity marker for a brand and it's the basic fundamental key of leading your business to success by getting your logo designed. The Designveloper graphics design team holds years of industry experience and they have successfully delivered the projects in the past year.
      p
        | Alongside with the memorable logo, we also provide brand identity design service. A full suit of your branding will be created, including logo, stationery design, business card, letterhead, document folder, envelopes, stickers, T-shirt, wallpapers for computers, tablets or smartphones, and even a powerpoint template. These are customized so that they share the same visual style and easy to be recognized by your clients.
      p
        | Designveloper works on a simple formula when it comes to designing logos and brands for businesses. We invite the clients to have a meeting with us. We simply ask few questions related to your business, show you our work samples and begin working on your project. We work on the brief of the clients and whatever you will tell us, we are going to design the same thing. We also help our clients to search their competitors in the industry and see what sort of print and logo designs they have. Then by designing a perfect and competitive logo for your business, we finish up the project.
      p
        | We are expert at corporate branding, graphic designing and premium printing services. We offer complete access to the client while his/her work is being done so that they may see what is going to be designed and they can interrupt us in the middle and ask us to alter the things if they are not up to the level. We believe in quality and customer satisfaction and to achieve these goals, we go to any extent. We believe in perfection and uniqueness of the designs so we have never dealt in samples and templates. We directly communicate with the client that what he demands and we design it accordingly. Duplication and copy pasting is strictly prohibited in the competitive environment of Designveloper.
    // #Design Popup