.mobile
  .sub-main.mobile-app
    .row
      .entry.col
        h5
          | As we are perfect in other web services, we are outstanding at building mobile apps. We own a strong team of professional apps developers who can develop an amazing app for your business in a real quick. Let it be android or iOS, Windows or Blackberry apps, ask us to build one and get back your results in a perfect form.
        p
          | Yes we have the potential to design and develop apps for any platform. We can develop any type of mobile application ranging from native, Web to hybrid and HTML5. Our XCODE and Java experts are always ready to hit the targets of mobile apps by building something amazing for our clients.
        p
          | Till now we have built a plenty of mobile apps for each of the major platforms and they are working perfectly. This is in fact has become a major reason of building a potential client list because whoever gets our exceptional services, he/she never minds to refer us to their acquaintances. Let’s have a look at our mobile app services in detail.
    .box-center.row
      .box-left.col
        .row
          .app-image.col
            img(src='{{backendServer}}/images/icon-android.png', alt='android icon')
          .app-content.col
            h2 ANDROID APP
            p
              | Designveloper designs and builds up high quality mobile and tablet Android for some of the world’s famous companies. Android application development is our best part and we have been doing it since the day of our birth. The major number of our recent work in mobile apps is occupied with the android app development projects. Designveloper’s perfect and native mobile app developers can generate an application every week and make it right according to the requirements of your niche industry.
      .box-right.col
        .row
          .app-image.col
            img(src='{{backendServer}}/images/icon-ios.png', alt='ios icon')
          .app-content.col
            h2 iOS APP
            p
              | Designing and developing iOS apps is our second major faculty in which we are doing best till now. None of our clients have returned to us with complaints about the app. Moreover, the amazing thing is that we help the clients in building up latest updates of their apps as well. Designveloper can develop high quality iPhone and iPad apps for your business. We deal in only perfection and once you get the app, check it and it’s up to whether to accept or reject it.
    div
      span
        | So if you are looking forward to get your business equipped with a mobile app, then just hit
        br
        | the order button and get one designed from us.
// #Mobile Popup
