.mobile
  .sub-main.mobile-game
    .row
      .entry.col
        h5
          | Designvelopers has been in the mobile games building for years and till date we have developed 100s of games for browsers, desktops and all major mobile platforms. With deep understanding of gameplay mechanics, our mobile game developers have built plenty of games right according to the demands and ideas of the clients.
        p
          | With hand on experience and genuine passion, our mobile game developers can build games for all the mobile operating systems including Android, iOS and others. Our developed mobile games offer 3D graphics and a balanced user control which is only possible when a professional converts his ideas into reality.
        p
          | We keep a clear look on the user psychology and game mechanics while building the games and that is why our developed games are so popular around the world. Desingveloper builds games for mobile devices, educational institutions and advertising campaigns. We offer development of games in various categories such as:
    span We offer development of games in various categories such as:
    .row
      .box-left.col
        div
          span.icon-checkmark
          p single player mobile games
        div
          span.icon-checkmark
          p multiplayer mobile games
        div
          span.icon-checkmark
          p motion sensor mobile games
        div
          span.icon-checkmark
          p symbian games
        div
          span.icon-checkmark
          p 2D&3D mobile games
      .box-right.col
        div
          span.icon-checkmark
          p android, ios & blackberry games
        div
          span.icon-checkmark
          p android tablet games
        div
          span.icon-checkmark
          p cross platform game development
        div
          span.icon-checkmark
          p game software
// #Mobile Popup
