.software
  .row
        
    .device.col
      h2 + raspbrerry
      h2 + arduino
  .sub-main.row
    .arduino-image.col
      img(src='{{backendServer}}/images/arduino.png', alt='arduino image')
      .simple-line
    .raspberry-image.col
      img(src='{{backendServer}}/images/raspberry.png', alt='arduino image')
// #Software Popup
