.vision.sub-team.container
  .row
    h1.sub-title.col
      a(href='#/team', ng-click='addLeftPage()')
        i
          img(src='images/back-btn.svg', onmouseover='this.src=\'images/back-btn-hover.svg\'',
        onmouseout='this.src=\'images/back-btn.svg\'', border='0', alt='')
        span back
      span our vision
  .sub-main
    img(src='images/our-vision.jpg', alt='dsv team image')
    div.team_image
    .entry.row
      .box-left.col
        h5
          | Since the day of our birth, we are committed to deliver high quality services to our clients, helping them grow their business at the world class level. Our custom web designs and exclusive mobile, voip and embedded software development services find no match around because we have a complete team of experts who know well how to finish their job with grace.
        p
          | We only work in customer satisfaction and our hand-picked employees carry the passion, skills, innovation and experience to meet the expectations of our clients. Each of our staff members has years of experience in his/her field. Due to our high quality and affordable services we have earned a very good reputation in the IT market and luckily we have constructed a solid line of loyal clients.
        p
          | Apart from offering premium services such as mobile development, web development and web design services, we also offer training and guide to the new comers in the industry. Our team of qualified teachers is always set up to help out the novices in the industry to become giants of the industry. All of our trainers are very much experienced and skilled in their respective fields and they are perfect at providing quality education to the students.
        p
          | At Designveloper, we also provide research assistance services to our clients so that they can lead their business to the heights of industry. Our qualified consultants guide the clients in a sincere and professional way, explaining each and every step of the process.
      .box-right.col
        h2 our vision
        p
          | Designveloper was built with the aim to go expand itself to every possible dimension of the IT world and we are working hard along with our clients to achieve our aims and targets. Our mission is to improve the lifestyle and the work style of the businesses and individuals. Realizing ideas, that's our goals.
// #Vision Popup
