.design
  .sub-main.web-design
    .box-top.row
      .box-top-left.col
        img(src='{{backendServer}}/images/web-design.png', alt='web design')
      .box-top-right.col
        span We offer following web design services
        .col-first
          div
            span.icon-checkmark
            h2 Custom Website
          div
            span.icon-checkmark
            h2 Responsive website
          div
            span.icon-checkmark
            h2 Website re-build
        div
          div
            span.icon-checkmark
            h2 Corporate website
          div
            span.icon-checkmark
            h2 E-commerce web
        .col-last
          div
            span.icon-checkmark
            h2 Content Management Systems
          div
            span.icon-checkmark
            h2 Mobile website
    .box-bottom.row
      .box-bottom-left.col
        p
          | In this rapidly increasing internet market place, appearance and
          | aesthetics are everything. Potential customers are always impressed
          | with the businesses which offer an aesthetically engaging, pleasing
          | and professional website.
      .box-bottom-right.col
        p
          | In Designveloper web design section, we create robust, user friendly
          | and professional websites with outstanding aesthetic appeal that will
          | put a positive effect upon conversions. Our websites are appealing and
          | offer best conversion rates to businesses. Potential clients are
          | always attracted towards the websites that offer exceptional graphics
          | and display relevant content clearly and concisely. Furthermore, a
          | well constructed website with fully keyword optimized content is
          | always viewed favorably by search engines and they are more likely to
          | appear in top searches.
        p
          | Designveloper also create responsive websites that will allow your
          | users to access your website from any devices. Our website designers
          | own great expertise in responsive web design and that is why we have a
          | long list of loyal customers around. The responsive web design will
          | determine the resolution of the device accessing your website and
          | content will be automatically rendered to that level of resolution
          | automatically.
    // #Design Popup