#blog.page
  .container
    .row
      h2.title.col
        | from
        strong blog
    .show-blog.row
      .image-blog.col
        a(href='#')
          img(src='images/blog.jpg', alt='blog image')
      .col.content-blog
        a(href='#')
          h1.title-blog Lorem ipsum dolor sit amet consetetur sadipscing elitr sed
        p
          | Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebun. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        span.poster
          | By
          span.orange Phuong Nguyen
        span.date
          | 02 june 2014
          span.dot .
          | social / inspiration
    .row
      span.col.must-read must read
    .row
      .blog-post.col
        a(href='')
          .post-left
            img(src='images/image-blog-sub.jpg', alt='blog sub')
          .post-right
            h3 Lorem ipsum dolor sit amet consetetur sadipscing
            span social / inspiration
      .blog-post.col
        a(href='')
          .post-left
            img(src='images/image-blog-sub.jpg', alt='blog sub')
          .post-right
            h3 Lorem ipsum dolor sit amet consetetur sadipscing
            span social / inspiration
      .blog-post.col
        a(href='')
          .post-left
            img(src='images/image-blog-sub.jpg', alt='blog sub')
          .post-right
            h3 Lorem ipsum dolor sit amet consetetur sadipscing
            span social / inspiration
      .clearfix
    .articles
      a(href='')
        h4
          p more
          p articles
        span.icon-arrow_horizontal.orange
