//----------Font variables-------------
$fontPath: 'fonts/';
$brandon_grotesquelight: 'brandon_grotesquelight';
$proxima_nova_tlight: 'proxima_nova_tlight';
$proxima_nova_thin: 'proxima_nova_thin';
$brandon_grotesqueblack: 'brandon_grotesqueblack';
$brandon_grotesquethin: 'brandon_grotesquethin';
$proxima_nova_blblack: 'proxima_nova_blblack';
$proxima_nova_bold: 'proxima_nova_bold';
$brandon_grotesquebold: 'brandon_grotesquebold';
$brandon_grotesquemedium: 'brandon_grotesquemedium';

//----------Color variables-------------
$black: #252525;
$yellow: #f7ba12;
$gray: #969696;